.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar{
  font-family:'Poppins ',sans-serif;
  font-size: 17px;
  line-height: 20px;
  /* text-transform: uppercase; */
  box-shadow: 0 8px 6px -6px;
  --webkit-box-shadow: 0 8px 6px -6px;
  border-bottom:0.5px solid gray !important ;
}
.nav-link {
  font-weight: 300 !important;
}
/* .active{
  border-bottom: 1px solid black;
} */
.navbar-brand{
  font-weight: 700;
  text-align: center;
  font-family: 'roboto',sans-serif;
  letter-spacing: 1px;
}
.footer{
  color: aliceblue;
  padding: 25px;
}
.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
}

.product-link {
    text-decoration: none !important;
    color: azure !important ;
}
.btn-sml {
  padding: 10px 10px;
  font-size: 12px;
  border-radius: 8px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
}

.image-wrapper {
  position: relative;
  margin: 5px;
}

.image {
  width: 90px; /* Set your desired width */
  height: 180px; /* Set your desired height */
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 14px;
}